.sale-manage-container {
    width: 100%;
}

.button-container {
    text-align: right;
    margin-right: 100px;
    margin-top: 10px;
}

.button-container > button {
    width: 100px;
    margin-right: 10px;
    background-color: #404663;
    color: white;
    border-radius: 10px;
    border: none;
    height: 30px;
    line-height: 140%;
    font-size: 130%;
}

.button-container > button:hover {
    color: #404663;
    background-color: white;
}

.button-container > button:last-child {
    margin-right: 0;
}

.date-input {
    width: 70px;
    height: 20px;
    background-color: white;
    color: #404663;
    border: 0;
    border-radius: 5px;
}

.search-container {
    text-align: right;
    margin-right: 100px;
    margin-top: 10px;
}

.sale-list-container {
    width: 90%;
    margin-top: 5px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.sale-title {
    width: 100%;
}

.sale-title > th {
    font-size: 12px;
    height: 30px;
    background-color: #404663;
    color: white;
    border-right: 1px solid white;
}

.sale-title > th:first-child {
    /*border-right: none;*/
}

.sale-title > th:last-child {
    border-right: none;
}

.sale-card {
    text-align: center;
    border-bottom: 1px solid #404663;
    background-color: white;
    color: #404663;
}

.sale-card:hover {
    background-color: #404663;
    color: white;
}

.sale-card > td {
    font-size: 13px;
}

.sale-card > td:first-child {
}

.total-price-row {
    height: 40px;
}

.total-price-row > td {
    border-bottom: 1px solid #404663;
    color: white;
    background-color: #404663;
    text-align: center;
}

.regdate {
    width: 17%;
}

.paydate {
    width: 17%;
}

.paycompleteyn {
    width: 5%;
}

.totalsaleprice {
    width: 7%;
}

.totalpayprice {
    width: 7%;
}

.cardpayprice {
    width: 7%;
}

.cashpayprice {
    width: 7%;
}

.deferredpayprice {
    width: 7%;
}

.expectedrestprice {
    width: 7%;
}

.input[type="checkbox"]:disabled:checked {
    background-color: white;
    color: white;
}

.menuname {
    width: 24%;
    padding: 0;
}

.sale-card-menuname {
    font-size: 7px;
    margin: 0;
}

.search-container > input {
    height: 21px;
    margin-right: 10px;
}

.search-btn {
    width: 100px;
    background-color: #404663;
    color: white;
    border-radius: 10px;
    border: none;
    height: 30px;
    line-height: 140%;
    font-size: 130%;
}
