
/*.spaceArea > div {*/
/*    border: 3px solid deepskyblue;*/
/*    color: #015068;*/
/*    width: 150px;*/
/*    height: 142px;*/
/*    border-radius: 10px;*/
/*}*/

/*.spaceArea > div > .tableNum {*/
/*    text-align: center;*/
/*    margin: 0;*/
/*    margin-top: 5px;*/
/*    border-bottom: 1px solid deepskyblue;*/
/*}*/

/*.menuCard {*/
/*    overflow: auto;*/
/*    border-bottom: 1px solid deepskyblue;*/
/*    height: 100px;*/

/*}*/

/*.menuName {*/
/*    text-align: left;*/
/*    margin: 0;*/
/*    margin-top: 0px;*/
/*    margin-left: 5px;*/
/*    font-size: 13px;*/
/*}*/

/*.totalPrice {*/
/*    text-align: right;*/
/*    margin: 0px;*/
/*    margin-right: 5px;*/
/*}*/

/*.spaceCard1 {*/
/*    position: absolute;*/
/*    top: 105px;*/
/*    left: 50px;*/
/*}*/

/*.spaceCard2 {*/
/*    position: absolute;*/
/*    top: 105px;*/
/*    left: 250px;*/
/*}*/

/*.spaceCard3 {*/
/*    position: absolute;*/
/*    top: 105px;*/
/*    left: 500px;*/
/*}*/

/*.spaceCard4 {*/
/*    position: absolute;*/
/*    top: 105px;*/
/*    left: 700px;*/
/*}*/

/*.spaceCard5 {*/
/*    position: absolute;*/
/*    top: 265px;*/
/*    left: 50px;*/
/*}*/

/*.spaceCard6 {*/
/*    position: absolute;*/
/*    top: 265px;*/
/*    left: 250px;*/
/*}*/

/*.spaceCard7 {*/
/*    position: absolute;*/
/*    top: 425px;*/
/*    left: 50px;*/
/*}*/

/*.spaceCard8 {*/
/*    position: absolute;*/
/*    top: 265px;*/
/*    left: 500px;*/
/*}*/

/*.spaceCard9 {*/
/*    position: absolute;*/
/*    top: 265px;*/
/*    left: 700px;*/
/*}*/

/*.spaceCard10 {*/
/*    position: absolute;*/
/*    top: 425px;*/
/*    left: 700px;*/
/*}*/

.space-container {
    flex: 2;
    /*border: 1px solid black;*/
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin-left: 20px;
    margin-top: 15px;
}

.space-card {
    border: 3px solid cornflowerblue;
    border-radius: 15px;
    /*flex: 1 1;*/
    width: 22%;
    /*height: 50%;*/
    margin: 10px;
    background-color: white;
}

.tableNum {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
    color: #3a6ac0;
    font-weight: 800;
}

.space-card-body {
    background-color: #3a6ac0;
    margin: 2px 2px 2px 2px;
    border-radius: 15px;
}

.menuCard {
    margin-top: 5px;
    height: 150px;
}

.menuCard > div {
    display: flex;
}

.menuCard > div > p {
    flex: 1;
}

.menuCard > div > p:first-child {
    text-align: left;
}

.menuCard > div > p:last-child {
    text-align: right;
}

.menuName {
    color: white;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0;
}

.menuCount {
    color: white;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 0;
}

.totalPrice {
    color: white;
    margin: 0;
    margin-right: 10px;
    height: 40px;
    line-height: 250%;
    text-align: right;
}

