

.space-container {
    flex: 2;
    /*border: 1px solid black;*/
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin-left: 20px;
    margin-top: 15px;
}

.space-card {
    border: 2px solid #404663;
    border-radius: 15px;
    width: 22%;
    margin: 10px;
    background-color: white;
    box-shadow:
            0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
            0px 4px 5.3px rgba(0, 0, 0, 0.028),
            0px 7.5px 10px rgba(0, 0, 0, 0.035),
            0px 13.4px 17.9px rgba(0, 0, 0, 0.042),
            0px 25.1px 33.4px rgba(0, 0, 0, 0.05),
            0px 60px 80px rgba(0, 0, 0, 0.07);
}

.tableNum {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
    color: #3a6ac0;
    font-weight: 800;
}

.space-card-body {
    background-color: #404663;
    margin: 2px 2px 2px 2px;
    border-radius: 15px;
}

.menuCard {
    margin-top: 5px;
    height: 100px;
    overflow: auto;
}

.menuCard > div {
    display: flex;
}

.menuCard > div > p {
    flex: 1;
}

.menuCard > div > p:first-child {
    text-align: left;
}

.menuCard > div > p:last-child {
    text-align: right;
}

.menuName {
    color: white;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0;
}

.menuCount {
    color: white;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 0;
}

.totalPrice {
    color: white;
    margin: 0;
    margin-right: 10px;
    height: 40px;
    line-height: 250%;
    text-align: right;
}

